<nav>
  <div class="site-title">
    <a href="/"><h1>Sofis Blog</h1></a>
    <p>a software dev sofoniyas site</p>
  </div>
  <ul>
   <li><a href="/">Blogs</a></li> 
   <li><a href="/about">About</a></li>
   <li><a href="/blogs/create"> New Blog</a></li>
  </ul>
</nav>