<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
<body>
  
  <%- include('./partials/nav.ejs') %>
  <div class="blogs content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A saepe laudantium porro doloribus ab quos accusamus, asperiores amet magnam cumque ex nulla vitae? Magni non laboriosam consequuntur alias ex distinction. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas assumenda, quae reiciendis, voluptate culpa, esse cupiditate facilis alias saepe eius facere. Ipsa in voluptatem consectetur molestias? Error eos quam laborum! </p>
    

  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>